$TTL 60m
@ IN SOA ns.dhjensen.tech. dhjensen.dhjensen.tech. (
        1       ; serial
        604800  ; refresh (1 week)
        86400   ; retry (1 day)
        2419200 ; expire (4 weeks)
        86400   ; minimum (1 day)
        )
@ IN NS  ns.dhjensen.tech.
ns      IN A    192.168.0.76;
