zone "0.168.192.in-addr.arpa" {
    type master;
    file "{{ '0.168.192' | manala.roles.bind_zone_file }}";
    forwarders { };
    allow-query { internals; };
    allow-update { internals; localhost; };
};

