//
// Do any local configuration here
//

// Manage the file logs
include "{{ manala_bind_configs_dir }}/named.conf.log";

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
include "{{ manala_bind_configs_dir }}/named.conf.tech";

// Reverse lookup for private networks:
include "{{ manala_bind_configs_dir }}/named.conf.rfc1918";